// Theme
$color-primary: #2196F3;
$color-primary-dark: #1976D2;
$color-primary-light: #BBDEFB;
$color-accent: #FF4081;

// Backgrounds
$bg: #222324;
$bg-navbar: lighten($bg, 5%);

// Font
$color-text: white;